
<!-- set layout -->
{{!< layout}}

<section class="display__seatch_header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle">
            <div class="medium-12 cell">
                <span>{{req.session.body.first_name}} {{req.session.body.last_name}}</span>
            </div><!-- ./medium cell -->
        </div><!-- ./grid-x grid-padding-x -->
    </div><!-- ./grid-container -->
</section>

<section class="profile__session">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="medium-auto cell">
                <div class="profile__wrapper">
                    <div class="grid-x grid-margin-x">
                        {{#compare req.session.body.access_level '>' 6}}
                        <div class="large-2 large-order-2 profile-img profile-img-ex text-center cell">
                            <a href="/edit-profile-image"><img src="/img/profile/man-avatar.svg" alt=""></a>
                            <div class="text-center">
                                <a href="/edit-profile-image">Change Image</a>
                            </div>
                        </div>
                        {{/compare}}
                        <div class="large-12 large-order-1 cell">
                            <h2>Edit profile details</h2>
                            <!--<p class="nowrap">-->
                                <!--Link: <a href="/profile">https://en.gridwedsite.com/page/xxx</a>-->
                            <!--</p>-->

                            <div class="grid-x grid-magin-x edit-form-wrapper">
                                <div class="large-4 cell">
                                    <ul class="vertical tabs" data-tabs id="profile__taps" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500">
                                        <li class="tabs-title is-active" aria-selected="true"><a href="#account">Account</a></li>
{{#compare req.session.body.access_level '>' 6}}
                                        <li class="tabs-title"><a href="#description">Description</a></li>
    {{/compare}}
                                        <li class="tabs-title"><a href="#notifications">Notifications</a></li>
                                        <li class="tabs-title"><a href="#change-password" class="md-max-width">Change Password</a></li>
                                    </ul>
                                </div>
                                <div class="large-8 cell">


                                    <div class="tabs-content" data-tabs-content="profile__taps">

                                        <div class="tabs-panel is-active" id="account">
                                            <form action="/save-account-details" method="post" v-on:submit.prevent="editProfile"
                                                  id="edit-profile-details-form">

                                                <h2 class="text-primary">Account details</h2>

                                                <div class="grid-x grid-margin-x">

                                                    <div class="small-6 cell">
                                                        <label for="title">Title *</label>
                                                        <select
                                                                v-model="title"
                                                                id="title"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.title}}"
                                                                name="title" required class="input-text">
                                                            <optgroup label="Please Select Your Title">
                                                                <option value="Mr">Mr</option>
                                                                <option value="Mrs">Mrs</option>
                                                                <option value="Ms">Ms</option>
                                                                <option value="Miss">Miss</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="username">Username *</label>
                                                        <input
                                                                v-model="username"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.username}}"
                                                                type="text" id="username" name="username">
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="first_name">First name *</label>
                                                        <input
                                                                v-model="first_name"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.first_name}}"
                                                                type="text" id="first_name" name="first_name" >
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="last_name">Last name *</label>
                                                        <input
                                                                v-model="last_name"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.last_name}}"
                                                                type="text" id="last_name" name="last_name" >
                                                    </div>
                                                </div>

                                                <hr>

                                                <h2 class="text-primary">Address</h2>

                                                <div class="grid-x grid-margin-x">

                                                    <div class="small-6 cell">
                                                        <label for="postcode">Postal Code</label>
                                                        <input
                                                                v-model="postcode"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.b_postcode}}"
                                                                type="text" id="postcode" name="postcode" >
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="address_1">Address Line 1</label>
                                                        <input
                                                                v-model="address_1"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.b_address1}}"
                                                                type="text" id="address_1" name="address_1">
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="street">Street</label>
                                                        <input
                                                                v-model="street"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.b_street}}"
                                                                type="text" id="street" name="street" >
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="county">County</label>
                                                        <input
                                                                v-model="county"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.b_county}}"
                                                                type="text" id="county" name="county" >
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="town">Town</label>
                                                        <input
                                                                v-model="town"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.b_city}}"
                                                                type="text" id="town" name="town" >
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="country">Country *</label>
                                                        <input
                                                                v-model="country"
                                                                @keyup.enter="editProfile"
                                                                value="{{req.session.body.b_country}}"
                                                                type="text" id="country" name="country" >
                                                    </div>

                                                    <div class="medium-12 cell">
                                                        <div v-if="showError">
                                                            <div v-html="formError">

                                                            </div>
                                                        </div>

                                                        <p v-html="formSuccess">
                                                            <div v-if="showSuccessMsg">

                                                            </div>
                                                        </p>
                                                    </div>

                                                    <div class="medium-12 cell" :class="isActive">
                                                        <input
                                                                class="button primary large expanded" type="submit"
                                                                value="Submit">
                                                        <img src="/img/icon/spinner-circle.svg" style="display: none;" alt="loading..." width="15">
                                                    </div>

                                                </div>
                                            </form>
                                        </div><!--./Account-->

                                        {{#compare req.session.body.access_level '>' 6}}
                                            <div class="tabs-panel" id="description">

                                                <form action="/save-description" v-on:submit.prevent="editProfile" method="post"
                                                      id="edit-description-form">
                                                    <h2 class="text-primary">Description</h2>

                                                    <div class="grid-x grid-margin-x">

                                                        <div class="small-12 cell">
                                                            <label for="last_name">Description *</label>
                                                            <textarea name="description" rows="3" cols="5"></textarea>
                                                        </div>

                                                        <div class="medium-12 cell">
                                                            <input class="button primary expanded" type="submit" value="Submit">
                                                        </div>

                                                    </div>

                                                </form>

                                            </div><!--./Description-->
                                        {{/compare}}

                                       <div class="tabs-panel" id="notifications">

                                           <form action="/save-notifications" v-on:submit.prevent="editProfileNotifications"
                                                 method="post" id="edit-notifications-form">

                                               <h2 class="text-primary">Login Email</h2>

                                               <div class="grid-x grid-margin-x">

                                                   <div class="small-12 cell">
                                                       <label for="email">Email Address *</label>
                                                       <input
                                                               v-model="email"
                                                               @keyup.enter="editProfileNotifications"
                                                               value="{{req.session.body.email}}"
                                                               type="text" id="email" name="email">
                                                   </div>

                                               </div>

                                               <hr>

                                               <h2 class="text-primary">Mobile</h2>

                                               <div class="grid-x grid-margin-x">

                                                   <div class="small-12 cell">
                                                       <label for="mobile">Mobile Number *</label>
                                                       <input
                                                               v-model="mobile"
                                                               @keyup.enter="editProfileNotifications"
                                                               value="{{req.session.body.mobile}}"
                                                               type="text" id="mobile" name="mobile">
                                                   </div>

                                               </div>

                                               <hr>

                                               <h2 class="text-primary">Notifications</h2>

                                               <div class="grid-x grid-margin-x">

                                                   <div class="small-12 cell flex-container">
                                                       <label for="email-notifications">Email
                                                           <input
                                                                   v-model="email_notifications"
                                                                   @keyup.enter="editProfileNotifications"
                                                                   type="checkbox" id="email-notifications"
                                                                   name="email_notifications">
                                                       </label>

                                                       <label for="sms-notifications">SMS
                                                           <input
                                                                   v-model="sms_notifications"
                                                                   @keyup.enter="editProfileNotifications"
                                                                   type="checkbox" id="sms-notifications"
                                                                   name="sms_notifications">
                                                       </label>

                                                   </div>

                                                   <div class="medium-12 cell">
                                                       <div v-if="showError">
                                                           <div v-html="formError">

                                                           </div>
                                                       </div>

                                                       <p v-html="formSuccess">
                                                       <div v-if="showSuccessMsg">

                                                       </div>
                                                       </p>
                                                   </div>

                                                   <div
                                                           :class="isActive"
                                                           class="medium-12 cell">
                                                       <input
                                                               class="button large primary expanded" type="submit"
                                                              value="Submit">
                                                   </div>

                                               </div>

                                           </form>
                                        </div><!--./Notifications-->

                                        <div class="tabs-panel" id="change-password">

                                            <form action="/save-password" v-on:submit.prevent="changePassword" method="post"
                                                  id="edit-password-form">

                                                <h2 class="text-primary">Change Password</h2>

                                                <div class="grid-x grid-margin-x">

                                                    <div class="small-12 cell">
                                                        <label for="old_password">Old Password *</label>
                                                        <input
                                                                v-model="old_password"
                                                                @keyup.enter="changePassword"
                                                                type="password" id="old_password" name="old_password" value="">
                                                    </div>

                                                    <div class="small-12 cell">
                                                        <label for="new_password">New Password *</label>
                                                        <input
                                                                v-model="new_password"
                                                                @keyup.enter="changePassword"
                                                                type="password" id="new_password" name="new_password" value="">
                                                    </div>

                                                    <div class="small-12 cell">
                                                        <label for="confirm_password">Confirm new password *</label>
                                                        <input
                                                                v-model="confirm_password"
                                                                @keyup.enter="changePassword"
                                                                type="password" id="confirm_password" name="confirm_password" value="">
                                                    </div>

                                                    <div class="medium-12 cell">
                                                        <div v-if="showError">
                                                            <div v-html="formError">

                                                            </div>
                                                        </div>

                                                        <p v-html="formSuccess">
                                                        <div v-if="showSuccessMsg">

                                                        </div>
                                                        </p>
                                                    </div>

                                                    <div
                                                            :class="isActive"
                                                            class="medium-12 cell">
                                                        <input
                                                                class="button primary large expanded" type="submit"
                                                               value="Submit">
                                                        <img src="/img/icon/spinner-circle.svg" style="display: none;" alt="loading..." width="15">
                                                    </div>

                                                </div>
                                            </form>
                                        </div><!--./Change Password-->

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!-- ./grid-x grid-padding-x -->
                </div>
            </div>

            <div class="medium-4 large-3 cell">

                {{#compare req.session.body.access_level '>' 6}}
                    <div class="profile__left__wrapper text-center">
                        <div class="inline__cont flex-container">
                            <h2 class="flex-child-grow">Credits</h2>
                            <span class="flex-child-grow">$27</span>
                        </div>
                        <div class="inline__cont flex-container">
                            <ul>
                                <li>30</li>
                                <li>Followers</li>
                            </ul>
                            <ul>
                                <li>27</li>
                                <li>Following</li>
                            </ul>
                        </div>
                    </div>
                {{/compare}}

                <div class="profile__left__wrapper">
                    <div class="inline__cont">
                        <h2>Account detail</h2>
                        <span>Name: <a href="/profile">{{req.session.body.first_name}} {{req.session.body.last_name}}</a></span>
                        {{#if req.session.body.mobile}}
                            <span>Mobile: <a href="tel:{{req.session.body.mobile}}">{{req.session.body
                            .mobile}}</a></span>
                        {{/if}}
                        <span>Email: <a href="mailto:{{req.session.body.email}}" title="{{req.session.body.email}}">{{req.session.body
                        .email}}</a></span>
                        {{#if req.session.body.b_county}}
                            <span>Country: <b>{{req.session.body.b_county}}</b></span>
                        {{/if}}
                        {{#if req.session.body.country_code}}
                            <span>Language: <b>{{req.session.body.country_code}}</span></b>
                        {{/if}}
                        <span class="magin-y"><a href="/profile">My Profile</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ./grid-container -->
</section>