
<!-- set layout -->
{{!< layout}}

<section class="display__seatch_header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle">
            <div class="medium-12 cell">
                <span>{{req.session.body.first_name}} {{req.session.body.last_name}}</span>
            </div><!-- ./medium cell -->
        </div><!-- ./grid-x grid-padding-x -->
    </div><!-- ./grid-container -->
</section>

<section class="profile__session">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">

            <div class="medium-auto cell">
                <div class="profile__wrapper">
                    <div class="grid-x grid-margin-x">
                        <div class="large-2 large-order-2 profile-img profile-img-ex text-center cell">
                           {{#if products_obj.hits.hits.0._source.image_obj.hits.hits.0._source.name}}
                            <a onclick="$('#open-image-tab').trigger('click')"><img src="{{req
                            .customBaseURI}}img/project/img-thumb/{{products_obj.hits.hits.0._source.image_obj.hits.hits
                            .0._source.name}}" alt="{{products_obj.hits.hits.0._source.image_obj.hits.hits
                            .0._source.name}}"></a>

                           {{/if}}

                        </div>
                        <div class="large-10 large-order-1 cell">
                            <h2>{{#if addTemplate}}<a href="/profile#templates">Add Template</a>{{else}}<a
                                    href="/profile#templates">Edit Template</a>{{/if}}</h2>

                            <div class="grid-x grid-margin-x edit-form-wrapper">
                                <div class="large-4 cell">
                                    <ul class="vertical tabs" data-tabs id="profile__taps" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500">

                                        <li class="tabs-title"><a href="#template">Template details</a></li>

                                        <li class="tabs-title"><a href="#add-image" id="open-image-tabxxx">Add
                                            images</a></li>

                                        <li class="tabs-title"><a href="#files">Files</a></li>

                                    </ul>
                                </div>
                                <div class="large-8 cell">

                                    <div class="tabs-content" data-tabs-content="profile__taps">

                                        <div class="tabs-panel" id="template">
                                            <form action="/save-template" v-on:submit.prevent="editTemplate"
                                                  method="post" id="save-template-form">

                                                <h2 class="text-primary">Template details</h2>

                                                <div class="grid-x grid-margin-x">

                                                    <div class="small-6 cell">
                                                        <label for="name">Name *</label>
                                                        <input
                                                                v-model="name"
                                                                id="name"
                                                                @keyup.enter="editTemplate"
                                                                value="{{products_obj.hits.hits.0._source.name}}"
                                                                type="text" id="template_name" name="name">
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="language">Language *</label>

                                                        <select
                                                                v-model="language"
                                                                @keyup.enter="editTemplate"
                                                                id="language"
                                                                value="english"
                                                                name="language">
                                                            <option value="english" selected>english</option>
                                                            <!--{{#each req.session.language_list}}-->
                                                            <!--<option value="{{this.language_code}}" {{#compare req.body.language '==' this.language_code}} selected {{/compare}} {{#compare req.product._source.language_code '==' this.language_code}} selected {{/compare}}>{{this.language}}</option>-->
                                                            <!--{{/each}}-->
                                                        </select>
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="price">Price ($)</label>
                                                        <input
                                                                v-model="price"
                                                                id="price"
                                                                @keyup.enter="editTemplate"
                                                                value="{{products_obj.hits.hits.0._source.price}}"
                                                                type="text" id="price" name="price" value="{{#if req.body.price}}{{req.body.price}}{{else}}{{{req.product._source.price}}}{{/if}}">
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="discount_price">Discount Price ($)</label>
                                                        <input
                                                                v-model="discount_price"
                                                                id="discount_price"
                                                                @keyup.enter="editTemplate"
                                                                value="{{products_obj.hits.hits.0._source.offer_price}}"
                                                                type="text" id="discount_price" name="discount_price" value="{{#if req.body.discount_price}}{{req.body.discount_price}}{{else}}{{{req.product._source.discount_price}}}{{/if}}">
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="built_price">Built Price ($)</label>
                                                        <input
                                                                v-model="built_price"
                                                                id="built_price"
                                                                @keyup.enter="editTemplate"
                                                                value="{{products_obj.hits.hits.0._source.built_price}}"
                                                                type="text" id="built_price" name="built_price" value="{{#if req.body.built_price}}{{req.body.built_price}}{{else}}{{{req.product._source.built_price}}}{{/if}}">
                                                    </div>

                                                    <div class="small-6 cell">
                                                        <label for="hosting_price">Hosting Price ($)</label>
                                                        <input
                                                                v-model="hosting_price"
                                                                id="hosting_price"
                                                                @keyup.enter="editTemplate"
                                                                value="{{products_obj.hits.hits.0._source.hosting_price}}"
                                                                type="text" id="hosting_price" name="hosting_price" value="{{#if req.body.hosting_price}}{{req.body.hosting_price}}{{else}}{{{req.product._source.hosting_price}}}{{/if}}">
                                                    </div>

                                                    <div class="small-12 cell">
                                                        <label for="extra">Extra</label>
                                                        <select
                                                                v-model="extra"
                                                                id="extra"
                                                                @keyup.enter="editTemplate"
                                                                value="[{{#each products_obj.hits.hits.0._source.extra  as |value|}}'{{value}}',{{/each}}]"
                                                                name="extra" multiple="multiple">
                                                            <option value=""></option>
                                                            <option value="Reviewed by our support team">Reviewed by our support team</option>
                                                            <option value="100 months support">months support</option>
                                                            <option value="30 days money back guarantee">30 days money back guarantee</option>
                                                        </select>
                                                    </div>


                                                    <div class="small-12 cell">
                                                        <label for="category">Category *</label>
                                                        <select
                                                                v-model="category"
                                                                id="category"
                                                                @keyup.enter="editTemplate"
                                                                value="{{products_obj.hits.hits.0._source.main_category}}"
                                                                name="category">
                                                            <option value=""></option>
                                                            <option value="Foundation 6 Grid XY">Foundation 6 Grid XY</option>
                                                            <option value="Bootstrap 4">Bootstrap 4</option>
                                                            <option value="Bootstrap 3">Bootstrap 3</option>
                                                        </select>
                                                    </div>

                                                    <div class="small-12 cell">
                                                        <label for="category">Type *</label>
                                                        <select
                                                                v-model="type"
                                                                id="type"
                                                                @keyup.enter="editTemplate"
                                                                value="{{products_obj.hits.hits.0._source.type}}"
                                                                name="type">
                                                            <option value=""></option>
                                                            <option value="Templates">Templates</option>
                                                            <option value="Themes">Themes</option>
                                                            <option value="Capture Forms">Capture Forms</option>
                                                            <option value="Email Templates">Email Templates</option>
                                                        </select>
                                                    </div>

                                                    <div class="small-12 cell">
                                                        <label for="features">Features *</label>
                                                        <select
                                                                v-model="features"
                                                                id="features"
                                                                @keyup.enter="editTemplate"
                                                                value="[{{#each products_obj.hits.hits.0._source.features  as |value|}}'{{value}}',{{/each}}]"
                                                                name="features" multiple="multiple">
                                                            <option value="3 Stuning Home Pages">3 Stuning Home Pages</option>
                                                            <option value="Clean Code and unique design">Clean Code and unique design</option>
                                                            <option value="HTML5 and CSS3 Validated">HTML5 and CSS3
                                                                Validated</option>
                                                            <option value="Responsive Design">Responsive Design</option>
                                                            <option value="SEO Friendly">SEO Friendly</option>
                                                            <option value="Working Contact Form">Working Contact Form</option>
                                                            <option value="Google fonts">Google fonts</option>
                                                            <option value="Very easy to customize">Very easy to customize</option>
                                                            <option value="Full Documented">Full Documented</option>
                                                        </select>
                                                    </div>

                                                    <div class="small-12 cell">
                                                        <label for="version">Version *</label>
                                                        <select
                                                                v-model="version"
                                                                id="version"
                                                                @keyup.enter="editTemplate"
                                                                value="[{{#each products_obj.hits.hits.0._source.version  as |value|}}'{{value}}',{{/each}}]"
                                                                name="version" multiple="multiple">
                                                                <option value="Foundation 6 Grid XY | v6.1">Foundation 6 Grid XY - v6.1</option>
                                                                <option value="Foundation 6 Grid XY | v6.5">Foundation 6 Grid XY - v6.5</option>
                                                                <option value="bootstrap 4 | v4.3">bootstrap 4 - v4.3</option>
                                                                <option value="Version | 1.0.0">Version - 1.0.0</option>
                                                                <option value="Version | 1.1.0">Version - 1.1.0</option>
                                                                <option value="Version | 2.0.0">Version - 2.0.0</option>
                                                                <option value="Version | 2.1.0">Version - 2.1.0</option>
                                                                <option value="Files Included|HTML,SCSS,CSS,JS">Files Included - HTML,SCSS,CSS,JS</option>
                                                                <option value="Files Included|HTML,SCSS,CSS">Files Included - HTML,SCSS,CSS</option>
                                                                <option value="Files Included|HTML,CSS,JS">Files Included - HTML,CSS,JS</option>
                                                                <option value="Files Included|HTML,CSS">Files Included - HTML,CSS</option>
                                                        </select>
                                                    </div>

                                                    <div class="small-12 cell">
                                                        <label for="code_quality">Code Quality *</label>
                                                        <textarea
                                                                v-model="code_quality"
                                                                @keyup.enter="editTemplate"
                                                                name="code_quality" rows="3" cols="5">{{products_obj.hits.hits.0._source.code_quality}}</textarea>
                                                    </div>

                                                    <div class="small-12 cell">
                                                        <label for="description">Description *</label>
                                                        <textarea
                                                                v-model="description"
                                                                @keyup.enter="editTemplate"
                                                                name="description" rows="3" cols="5">{{products_obj.hits.hits.0._source.description}}</textarea>
                                                    </div>

                                                    <div class="medium-12 cell">
                                                        <div v-if="showError">
                                                            <div v-html="formError">

                                                            </div>
                                                        </div>

                                                        <p v-html="formSuccess">
                                                        <div v-if="showSuccessMsg">

                                                        </div>
                                                        </p>
                                                    </div>

                                                    <div class="medium-12 cell" :class="isActive">

                                                        <input
                                                                v-model="ref"
                                                                name="ref"
                                                                value="{{products_obj.hits.hits.0._id}}"
                                                                type="hidden">
                                                        <input
                                                                class="button primary large expanded" type="submit"
                                                               value="Submit">
                                                        <img src="/img/icon/spinner-circle.svg" style="display: none;" alt="loading..." width="15">

                                                    </div>
                                                </div>
                                            </form>
                                        </div><!--./Account-->

                                        <div class="tabs-panel a-cont-wrapper" id="add-image">

                                            <div class="grid-x grid-margin-x">

                                                <div class="medium-12 cell edit-profile-image-wrapper" id="edit-template-image">
                                                    <form   :class="showFormAction"
                                                            v-on:submit.prevent="editTemplateImages"
                                                            id="cropit-form" class="flex-container
                                                            align-center-middle"
                                                        {{#if products_obj.hits.hits.0._source.image_obj.hits.total}}
                                                            style="display: none"
                                                        {{/if}} >
                                                        <div class="image-editor">

                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-12 cell">
                                                                    <div class="cropit-preview-wrapper">
                                                                        <div class="cropit-preview"></div>
                                                                    </div>

                                                                    <label for="image-upload"  style="margin-top:1rem" >
                                                                        <input type="file" id="image-upload" class="cropit-image-input hidden">
                                                                        <span class="text-primary large cursor">Click here to
                                                                    select image</span>
                                                                    </label>

                                                                    <div class="image-size-label">
                                                                        Resize image
                                                                    </div>

                                                                    <input type="range" class="cropit-image-zoom-input">

                                                                    <div class="rotation-section">
                                                                        <div>Rotation</div>
                                                                        <i class="rotate-ccw fa fa-undo rotation-right" aria-hidden="true"></i>

                                                                        <i class="rotate-cw fa fa-redo" aria-hidden="true"></i>
                                                                    </div>
                                                                </div><!-- ./medium cell -->
                                                                <div class="medium-12 cell">
                                                                    <div v-if="showError">
                                                                        <div v-html="formError">

                                                                        </div>
                                                                    </div>

                                                                    <p v-html="formSuccess">
                                                                    <div v-if="showSuccessMsg">

                                                                    </div>
                                                                    </p>
                                                                </div>
                                                                <div class="medium-6 cell">
                                                                    <div class="" :class="isActive">
                                                                        <input
                                                                                v-model="image_data"
                                                                                type="hidden" name="image_data"
                                                                                class="hidden-image-data" />
                                                                        <input
                                                                                v-model="ref"
                                                                                name="ref"
                                                                                value="{{products_obj.hits.hits.0._id}}"
                                                                                type="hidden">
                                                                        <input
                                                                                class="button primary large expanded" type="submit"
                                                                                value="Submit">
                                                                        <img src="/img/icon/spinner-circle.svg" style="display: none;" alt="loading..." width="15">
                                                                    </div>
                                                                </div>
                                                                <div class="medium-6 cell">
                                                                    <input
                                                                            @click="showImagesFn"
                                                                            class="button warning large expanded"
                                                                            type="button"
                                                                            value="Show Images">
                                                                </div>
                                                            </div><!-- ./grid-x grid-padding-x -->

                                                        </div>
                                                    </form>

                                                    <div class="grid-x grid-padding-x grid-padding-y" :class="showImages"
                                                        {{#if products_obj.hits.hits.0._source.image_obj.hits.total}}
                                                        {{else}}
                                                         style="display: none"
                                                    {{/if}}>
                                                        <div class="medium-12 cell">
                                                            <input
                                                                    @click="addNewImage"
                                                                    class="button primary large expanded" type="button"
                                                                    value="Add Image">

                                                            <p class="r-margin" v-html="imageCounterMsg">
                                                                No Images found
                                                            </p>
                                                        </div>
                                                        <div class="medium-6 cell" v-for="tmp_img in
                                                        template_images">
                                                            <div class="r-position">
                                                                <img :src="tmp_img.img_url" width="100%" :alt="tmp_img.name">

                                                                <form action="/delete-template-image" method="post">
                                                                    <button type="button" name="button" class="button remove-template-image" @click="confirmDeleteTemplateImg(tmp_img.image_id)">x</button>
                                                                </form>
                                                            </div>
                                                        </div><!-- ./medium cell -->

                                                        <div class="medium-12 cell">
                                                            <div v-if="showError">
                                                                <div v-html="formError">

                                                                </div>
                                                            </div>

                                                            <p v-html="formSuccess">
                                                            <div v-if="showSuccessMsg">

                                                            </div>
                                                            </p>
                                                        </div>

                                                    </div><!-- ./grid-x grid-padding-x -->
                                                </div>

                                            </div>

                                         </div><!--./add-image-->

                                          <div class="tabs-panel" id="files">

                                              {{#if flush_message}}
                                                  <div class="grid-x grid-margin-x">
                                                      <div class="medium-12 cell">
                                                          <div class="callout {{flush_message.class}}">
                                                              {{flush_message.message}}
                                                          </div>
                                                      </div><!-- ./medium cell -->
                                                  </div><!-- ./grid-x g-padding-x -->
                                              {{/if}}

                                              <div class="grid-x grid-margin-x" id="edit-template-file">

                                                  <div class="small-12 cell">
                                                      <div class="grid-x grid-padding-x">
                                                          <div class="medium-12 cell text-center">
                                                              <a href="#files">

                                                                  <form ref='uploadForm'
                                                                        id='uploadForm'
                                                                        action="/upload-template-file" method="post"
                                                                        encType="multipart/form-data">

                                                                      <input type="hidden" name="product_id"
                                                                             value="{{products_obj.hits.hits.0._id}}"
                                                                             id="product_id">

                                                                      <input type="file" required name="sampleFile"
                                                                             id="sampleFile">

                                                                      <input type="submit" value="Upload File"
                                                                             class="button primary large expanded"
                                                                             name="submit">

                                                                  </form>

                                                                  <!--<div  style="padding-bottom: 1rem">-->
                                                                      <!--<img src="/img/icon/zip.svg">-->
                                                                  <!--</div>-->
                                                                  <!--<img src="/img/icon/download.svg" width="50">-->
                                                              </a>
                                                          </div><!-- ./medium cell -->
                                                          <div class="medium-12 cell">
                                                              <p v-if="template_files.length > 0" class="r-margin" v-html="fileCounterMsg">
                                                                  No Images found
                                                              </p><br>
                                                              <table>
                                                                  <tbody>
                                                                         <tr v-if="template_files.length > 0"
                                                                             v-for="(item, index) in template_files">
                                                                             <td  style="width: 3rem">
                                                                                 <img src="/img/icon/zip.svg" width="25">
                                                                             </td>
                                                                             <td class="small">
                                                                                 <div v-html="item.name"></div>
                                                                                 <div v-html="item.date_created"></div>
                                                                             </td>
                                                                             <td width="30">
                                                                                 <form action="/delete-template-file" method="post">
                                                                                     <button type="button" name="button"
                                                                                             class="button r-margin
                                                                                             remove-template-file"
                                                                                             @click="confirmDeleteTemplateFile(item.file_id)">x</button>
                                                                                 </form>
                                                                             </td>
                                                                         </tr>
                                                                      <tr v-else>
                                                                          <td class="text-center">
                                                                              No file uploaded
                                                                          </td>
                                                                      </tr>
                                                                  </tbody>
                                                              </table>

                                                              <!--<ul>-->
                                                                  <!--<li>-->
                                                                  <!--</li>-->
                                                                  <!--<li>-->
                                                                      <!--<img src="/img/icon/css.svg">-->
                                                                  <!--</li>-->
                                                                  <!--<li>-->
                                                                      <!--<img src="/img/icon/css.svg">-->
                                                                  <!--</li>-->
                                                              <!--</ul>-->
                                                          </div><!-- ./medium cell -->

                                                          <div class="medium-12 cell">
                                                              <div v-if="showFileError">
                                                                  <div v-html="formFileError">

                                                                  </div>
                                                              </div>

                                                              <p v-html="formFileSuccess">
                                                              <div v-if="showFileSuccessMsg">

                                                              </div>
                                                              </p>
                                                          </div>

                                                      </div><!-- ./grid-x grid-padding-x -->
                                                  </div>

                                              </div>

                                           </div><!--./files-->





                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!-- ./grid-x grid-padding-x -->
                </div>
            </div>

            <div class="medium-4 large-3 cell">
                {{#compare req.session.body.access_level '>' 6}}
                    <div class="profile__left__wrapper text-center">
                        <div class="inline__cont flex-container">
                            <h2 class="flex-child-grow">Credits</h2>
                            <span class="flex-child-grow">$27</span>
                        </div>
                        <div class="inline__cont flex-container">
                            <ul>
                                <li>30</li>
                                <li>Followers</li>
                            </ul>
                            <ul>
                                <li>27</li>
                                <li>Following</li>
                            </ul>
                        </div>
                    </div>
                {{/compare}}

                <div class="profile__left__wrapper">
                    <div class="inline__cont">
                        <h2>Account detail</h2>
                        <span>Name: <a href="/profile">{{req.session.body.first_name}} {{req.session.body.last_name}}</a></span>
                        {{#if req.session.body.mobile}}
                            <span>Mobile: <a href="tel:{{req.session.body.mobile}}">{{req.session.body
                            .mobile}}</a></span>
                        {{/if}}
                        <span>Email: <a href="mailto:{{req.session.body.email}}" title="{{req.session.body.email}}">{{req.session.body
                        .email}}</a></span>
                        {{#if req.session.body.b_county}}
                            <span>Country: <b>{{req.session.body.b_county}}</b></span>
                        {{/if}}
                        {{#if req.session.body.country_code}}
                            <span>Language: <b>{{req.session.body.country_code}}</span></b>
                        {{/if}}
                        <span class="magin-y"><a href="/profile">My Profile</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ./grid-container -->
</section>

<div id="template-image-dialog-confirm" style="display:none" title="Remove template image" class="confirm-prompt">
    <p  id="ui-body">Please press Confirm to remove template image</p>
</div>

<div id="template-file-dialog-confirm" style="display:none" title="Remove template file" class="confirm-prompt">
    <p  id="ui-body">Please press Confirm to remove template file</p>
</div>