
<!-- set layout -->
{{!< layout}}

<section class="display__cont">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle">
            <div class="medium-8 cell">
                <h1>
                    <span class="type-wrap">
                        <span id="typed-strings">
                            <span>Website Design</span>
                            <span>API Integration</span>
                            <span>Email Templates</span>
                            <span>Landing Pages</span>
                        </span>
                        <span id="typed"></span>
                    </span>
                </h1>
                <p class="d__paragraph">
                    Find over 3100 website templates to design landing pages, portfolio sites, blogs, or corporate websites. Explore a curated collection of HTML website templates as well as complementary tools like UI graphics and social media icons to make the web design process much easier.
                </p>
            </div><!-- ./medium cell -->
            <div class="medium-4 cell">

                <ul id="work-content-slider" class="slide__wrapper">
                    <li class="lslide cell-item">
                        <img src="/img/project/encraze-responsive.png" alt="project image">
                    </li><!-- ./medium cell -->
                    <li class="lslide cell-item">
                        <img src="/img/project/leadswork-responsive.png" alt="project image">
                    </li><!-- ./medium cell -->
                    <li class="lslide cell-item">
                        <img src="/img/project/vantworks-responsive.png" alt="project image">
                    </li><!-- ./medium cell -->
                    <li class="lslide cell-item">
                        <img src="/img/project/ultimateresourcesltd-responsive.png" alt="project image">
                    </li><!-- ./medium cell -->
                    <li class="lslide cell-item">
                        <img src="/img/project/ridebliss-responsive.png" alt="project image">
                    </li><!-- ./medium cell -->
                    <li class="lslide cell-item">
                        <img src="/img/project/pooleholidayrentals-responsive.png" alt="project image">
                    </li><!-- ./medium cell -->
                </ul>

            </div>
        </div><!-- ./grid-x grid-padding-x -->
    </div><!-- ./grid-container -->
</section>
<section class="temp__wrapper cont_padding">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-12 cell">
                <h2>Foundation Grid XY Templates</h2>

                    <p>
                        Component-based frameworks designed, built, and supported by foundation.zurb Team.
                    </p>

            </div>

            <div class="medium-12 cell">

                <ul id="foundation-content-slider" class="slide__wrapper">

                    {{#each foundation_templates.hits.hits}}
                        <li class="lslide cell-item">
                            <a href="/product/{{_source.url_name}}/{{_id}}" title="{{_source.name}}">
                                <img src="{{req.customBaseURI}}img/project/img-origin/{{_source.image_obj.hits.hits.0._source.name}}" alt="{{_source.url_name}}">
                            </a>
                                <!--<div>Created by <a href="/product/{{_source.url_name}}/{{_id}}">{{_source.user_obj.hits.hits.0._source.first_name}}-->
                                    <!--{{_source.user_obj.hits.hits.0._source.last_name_short}}-->
                                <!--</a></div>-->
                                <div><span>{{_source.name}}</span><span>${{_source.offer_price}}</span></div>
                                <div>{{_source.main_category}}</div>
                        </li><!-- ./medium cell -->
                    {{/each}}
                </ul>

            </div>

        </div><!-- ./grid-x grid-padding-x -->

        <br>

    </div><!-- ./grid-container -->
</section>

<hr>
<!--<section class="s__cta cont_padding">-->
    <!--<div class="grid-container">-->
        <!--<ul class="align-middle">-->
            <!--<li><img src="/img/icon/web-design.svg" width="130" alt="web design"></li>-->
            <!--<li>-->
                <!--<h2>Ever thought about creating your own Udemy course?</h2>-->
                <!--<p>Share your knowledge on the world’s largest online learning marketplace.</p>-->
            <!--</li>-->
            <!--<li class="text-right">-->
                <!--<button type="button" name="button" class="button primary">Learn More</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>&lt;!&ndash; ./grid-container &ndash;&gt;-->
<!--</section>-->

<section class="web__wrapper cont_padding">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-12 cell">
                <h2>Website Design</h2>
                <p>Our Most recently Work</p>
            </div>

            <div class="medium-12 cell">

                <ul id="websites-design-content-slider" class="slide__wrapper">
                    {{#each website_design}}
                        <li class="lslide cell-item">
                            <img src="/img/temp/thumb-1/{{thumb_img_1}}" alt="{{category_1}}">
                        </li><!-- ./medium cell -->
                    {{/each}}
                </ul>

            </div>

        </div><!-- ./grid-x grid-padding-x -->

    </div><!-- ./grid-container -->
</section>

<section class="s__cta__2 cont_padding">
    <div class="grid-container">
        <ul class="align-center-middle text-center">
             <!--<li>Responsive Templates</li>-->
            <li>30 Days Money Back Guarantee On All Products</li>
        </ul>
    </div><!-- ./grid-container -->
</section>

<section class="api__wrapper cont_padding">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle text-center">
            <div class="medium-8 cell">
                <h2>API Integration</h2>
                <p>In most modern websites, application program interfaces (APIs) plays significant role to support your website functions. Most of these APIs requires advanced background to get the full benefits.</p>
                <p>Here are some of the APIs I've installed For out clients:</p>
            </div>  <!--./medium-8 cell-->

        </div><!-- ./grid-x grid-padding-x -->

    </div><!-- ./grid-container -->
</section>

<section class="email__temp__wrapper cont_padding">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-12 cell">
                <h2>Email Templates</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>  <!--./medium-8 cell-->

            <div class="medium-12 cell">

                <ul id="email-templates-content-slider" class="slide__wrapper">
                    {{#each email_templates}}
                        <li class="lslide cell-item">
                            <img src="/img/temp/thumb-1/{{main_img}}" alt="{{category_1}}">
                        </li><!-- ./medium cell -->
                    {{/each}}
                </ul>

            </div>
<!--
            {{#each email_templates}}
                <div class="medium-auto cell">
                    <img src="/img/temp/thumb-1/{{main_img}}" alt="{{category_1}}">
                </div>
            {{/each}} -->

        </div><!-- ./grid-x grid-padding-x -->

    </div><!-- ./grid-container -->
</section>

<section class="s__cta cont_padding">
    <div class="grid-container">
        <ul class="align-middle">
            <li><img src="/img/icon/web-design.svg" width="130" alt="web design"></li>
            <li>
                <h2>Ever thought about creating your own Udemy course?</h2>
                <p>Share your knowledge on the world’s largest online learning marketplace.</p>
            </li>
            <li class="text-right">
                <button type="button" name="button" class="button primary">Learn More</button>
            </li>
        </ul>
    </div><!-- ./grid-container -->
</section>
