
<!-- set layout -->
{{!< layout}}

<section class="product__session">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-auto cell">

                <div class="product__wrapper">
                    <div class="grid-x grid-margin-x">

                        <div class="medium-12 cell">
                            <h1>{{product_obj.hits.hits.0._source.name}}</h1>
                        </div>

                        <div class="medium-12 cell social-btn flex-container">

                            <!--<button class="button primary twitter" type="button" name="button">Tweet this</button>-->

                            <a href="http://www.facebook.com/sharer.php?u={{ogUrl}}" target="_blank">

                                <button class="button primary facebook" type="button" name="button">Share this</button>

                            </a>

                        </div>

                        <div class="medium-12 cell">

                            <div class="clearfix" style="max-width:474px;">
                                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                    {{#each product_obj.hits.hits.0._source.image_obj.hits.hits}}
                                    <li data-thumb="/img/project/img-thumb/{{_source.name}}">
                                        <img src="/img/project/img-origin/{{_source.name}}" alt="{{product_obj.hits
                                        .hits.0._source.name}}" /></li>
                                    {{/each}}
                                </ul>
                            </div>

                            <div class="product__cont">
                                {{#if product_obj.hits.hits.0._source.description}}
                                    <h2>Description</h2>
                                    {{product_obj.hits.hits.0._source.description}}
                                {{/if}}

                                {{#if product_obj.hits.hits.0._source.description}}
                                    <h2>Code Quality</h2>
                                    {{product_obj.hits.hits.0._source.code_quality}}
                                {{/if}}

                                {{#if product_obj.hits.hits.0._source.features}}
                                    <h2>Features</h2>
                                    <ul>
                                        {{#each product_obj.hits.hits.0._source.features as | value |}}
                                            <li>{{value}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>

                            <div class="review__wrapper" id="review__wrapper">

                                <div class="review_r_wrapper">
                                    {{# if req.session.isLoggedin}}
                                    <form action="/save-review" id="add-review-form" v-on:submit.prevent="addReview" method="post">
                                        <div class="grid-x grid-margin-x align-center-middle">
                                            <div class="medium-12 cell">
                                                <h2>
                                                    Leave your review below
                                                </h2>
                                            </div>

                                            <div class="small-3 medium-2 large-1 cell">
                                                <label>Ratings</label>
                                            </div>

                                            <div class="small-9 medium-10 large-11 cell">
                                                <div class="rate1 rate_control" :data-rate-value="rate_input"></div>
                                                <input
                                                        id="rate_input1"
                                                        type="hidden" name="rate_input" value="0">
                                            </div>

                                            <div class="medium-12 cell">
                                                <label>Comment</label>
                                            </div>

                                            <div class="small-3 medium-2 large-1 cell">
                                                <img src="/img/profile/thumb/user.svg"
                                                     style="border-radius: 50%;width: 100%;"
                                                     alt="profile image">
                                            </div>

                                            <div class="small-9 medium-10 large-11 cell">
                                                <textarea
                                                        v-model="comment"
                                                        class="r-margin"
                                                        name="comment" placeholder="Leave your review here" rows="3" cols="5"></textarea>
                                            </div>

                                            <div class="medium-12 cell">
                                                <div v-if="showError" style="margin-top: 1rem">
                                                    <div v-html="formError">

                                                    </div>
                                                </div>

                                                <p v-html="formSuccess" style="margin-top: 1rem">
                                                <div v-if="showSuccessMsg">

                                                </div>
                                                </p>
                                            </div>

                                            <div class="medium-12 cell" :class="isActive">
                                                <!--<input type="hidden" name="page_route" value="/product/3f9sfWUBtJ_6JLhQCHJU/Ri+Na+Mara+Facial+Oil+30ml">-->
                                                <input class="button primary small-100" type="submit"
                                                       style="margin-top: 0rem;min-width: 15rem;"
                                                       value="Add Review">
                                                <img src="/img/icon/spinner-circle.svg" style="display: none;top:10px;left: 13rem;" alt="loading..." width="15">
                                            </div>
                                        </div>
                                    </form>
                                    {{else}}
                                        <div class="grid-x grid-padding-x">
                                            <div class="medium-12">
                                                <input data-open="login_reveal" class="button primary" type="submit" name="" value="Add Review">
                                            </div><!-- ./medium cell -->
                                        </div><!-- ./grid-x grid-padding-x -->
                                    {{/if}}
                                </div>

                                <h3><span v-html="total_reviews">{{product_obj.hits.hits.0._source.user_reviews}}</span> Reviews</h3>

                                <div class="media-object"
                                     v-for="(comment_obj, index) in comments_obj"
                                     :id="comment_obj.main_comment_cont.review_id" >
                                     <div class="media-object-section">

                                        <div class="thumbnail" style="box-shadow: none" v-html="comment_obj
                                        .main_comment_cont
                                        .profile_img"></div>

                                     </div>
                                      <div class="media-object-section" style="width: 100%">
                                        <h4 v-html="comment_obj.main_comment_cont.name"></h4>
                                        <div
                                                v-html="comment_obj.main_comment_cont.ratings"
                                                class="star__ratings flex-container align-middle">

                                        </div>

                                        <div class="date" v-html="comment_obj.main_comment_cont.date"></div>
                                        <div v-html="comment_obj.main_comment_cont.review"></div>

                                          <span class="remove-review" :class="comment_obj.main_comment_cont.show_review_reply_btn" style="display: none">
                                              {{#if req.session.isLoggedin}}
                                                      <input
                                                              @click="comment_obj.main_comment_cont.show_review_reply_btn='',
                                                      comment_obj.main_comment_cont.review_comment=true"
                                                              type="button" value="Add Reply">
                                              {{else}}
                                                  <input type="button" data-open="login_reveal" value="Add Review">
                                              {{/if}}
                                          </span>
                                          <span class="remove-review" v-html="comment_obj.main_comment_cont.is_User_cont">

                                        </span>

                                          <div class="review_r_wrapper">
                                              {{# if req.session.isLoggedin}}
                                                  <form action="/save-review-reply" v-on:submit.prevent="addReviewReply(index,$event)"
                                                        v-if="comment_obj.main_comment_cont.review_comment"
                                                        method="post">
                                                      <div class="grid-x grid-margin-x">
                                                          <div class="medium-12 cell">
                                                        <textarea
                                                                class="r-margin"
                                                                name="name" placeholder="Leave your reply here" rows="1" cols="5"></textarea>
                                                          </div>

                                                          <div class="medium-12 cell">
                                                              <div v-if="comment_obj.main_comment_cont.showError">
                                                                  <div v-html="comment_obj.main_comment_cont.formError">

                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div class="medium-12 cell" :class="comment_obj.main_comment_cont.isActive">
                                                              <input
                                                                      v-model="comment_obj.main_comment_cont.review_id"
                                                                      type="hidden" name="review_id">
                                                              <input
                                                                      style="margin-top: .6rem"
                                                                      class="button secondary" type="submit" name=""
                                                                      value="Add Reply">
                                                              <img src="/img/icon/spinner-circle.svg" style="display:none;left: 7rem;top: 20px" alt="loading..." width="15">
                                                          </div>
                                                      </div>
                                                  </form>
                                                  <p v-html="comment_obj.main_comment_cont.formSuccess">
                                                  <div v-if="comment_obj.main_comment_cont.showSuccessMsg">

                                                  </div>
                                                  </p>
                                              {{/if}}
                                          </div>

                                        <!-- Nested media object starts here -->
                                        <div class="media-object"
                                             v-for="(comment_replay_obj, index) in comment_obj.comment_replays_obj"
                                             :id="comment_replay_obj.review_replies_id" >
                                          <div class="media-object-section">
                                            <div class="thumbnail" style="box-shadow: none;" v-html="comment_replay_obj.profile_img"></div>
                                          </div>
                                          <div class="media-object-section">
                                            <h4 v-html="comment_replay_obj.name"></h4>
                                            <div class="date" v-html="comment_replay_obj.date"></div>
                                            <div v-html="comment_replay_obj.review"></div>
                                            <div class="remove-review" v-html="comment_replay_obj.is_User_cont"></div>
                                          </div>

                                        </div>

                                        <!-- And ends here -->
                                      </div>
                                    </div>
                            </div>
                        </div>
                    </div><!-- ./grid-x grid-padding-x -->
                </div>
            </div>

            <div class="medium-4 large-3 cell">
                <div class="s__left__wrapper" id="add-to-cart">
                    <form v-on:submit.prevent="addToCart"
                          method="post">
                        <div class="grid-x grid-padding-x">
                            <div class="medium-12 cell">
                        {{#if product_obj.hits.hits.0._source.offer_price}}
                            <div>
                                <label>
                                    <!--:disabled="disabled"-->
                                    <input
                                            v-model="order"
                                            checked
                                            type="radio" name="order" value="1">
                                    Standard License <b>${{product_obj.hits.hits.0._source.offer_price}}</b>
                                </label>
                            </div>
                        {{/if}}

                        {{#compare product_obj.hits.hits.0._source.built_price '>' 0}}
                            <div>
                                <label>
                                    <input
                                            v-model="designed"
                                            type="checkbox" name="designed" value="1">
                                    Get It Implemented <b>${{product_obj.hits.hits.0._source.built_price}}</b>
                                </label>
                            </div>
                        {{/compare}}

                        {{#compare product_obj.hits.hits.0._source.hosting_price '>' 0}}

                            <div>
                                <label>
                                    <input
                                            v-model="hosted" :disabled="disableHosted"
                                            type="checkbox" name="hosted" value="1">
                                    Get It Hosted <b>${{product_obj.hits.hits.0._source.hosting_price}}</b> Monthly
                                </label>
                            </div>
                        {{/compare}}
                            </div><!-- ./medium cell -->

                            <div class="medium-12 cell">
                                <div v-if="showError&&disabled">
                                    <div v-html="formError">
                                    </div>
                                </div>
                                <div v-if="showSuccessMsg&&disabled">
                                    <div v-html="formSuccess">
                                    </div>
                                </div>
                            </div>

                            <div class="medium-12 cell small" :class="isActive">
                                <hr style="margin-top: .4rem">

                                <div>Total Price: <b v-html="'$'+currentTotalPrice"></b></div>
                                <br>

                                <input v-if="!disabled" class="button primary expanded r-margin cart-btn" type="submit" value="Add To Cart">
                                <a
                                        :class="show_btn"
                                        v-if="disabled"
                                        class=""
                                        style="display: none"
                                        href="/cart">
                                    <input type="button" class="button primary expanded r-margin cart-btn" value="View Cart" ></a>
                                <img src="/img/icon/spinner-circle.svg" style="display: none;" alt="loading..." width="15">
                            </div>

                            {{#compare 1 '==' 2}}
                               <div class="medium-12 cell" style="margin-top: 1rem">
                                   <input
                                           v-if="!disabled"
                                          style="background-color: #FFF;color: #1779ba;border: 1px solid #1779ba"
                                          class="button primary expanded r-margin cart-btn"
                                          type="button"
                                          value="Live Preview">
                               </div>
                            {{/compare}}

                        </div><!-- ./grid-x grid-padding-x -->

                    </form>
                </div>


                <div class="s__left__wrapper">
                    <div class="ratting__wrapper">
                        <div class="star__ratings flex-container align-middle">
                            <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                            <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                            <img src="/img/icon/mark-as-favorite-star.svg" width="18" alt="star ratings">
                            <img src="/img/icon/mark-as-favorite-star1.svg" width="18" alt="star ratings">
                            <img src="/img/icon/mark-as-favorite-star1.svg" width="18" alt="star ratings">
                            <span class="small"> {{product_obj.hits.hits.0._source.user_reviews}} Reviews</span>
                        </div>

                        <div class="u-sold">
                            <img src="/img/icon/shopping-cart.svg" width="18" alt="shopping cart icon"> {{product_obj.hits.hits.0._source.order_counts}} Sold
                        </div>

                        <ul class="flex-container align-center-middle contact-seller-wrapper">
                            <li>Questions</li>
                            <li><button data-open="contact-seller" class="button primary expanded" type="button" name="button">
                                Contact Us</button></li>
                        </ul>

                    </div>
                </div>

                <div class="s__left__wrapper">
                    <ul class="quality__wrapper flex-container">
                    {{#each product_obj.hits.hits.0._source.extra as | value |}}
                        <li class="small"><img src="/img/icon/checked-data.svg" alt="checked data" width="16">{{value}}</li>
                    {{/each}}
                    </ul>
                </div>

                <div class="s__left__wrapper">
                    <div class="version__wrapper">
                        {{#each product_obj.hits.hits.0._source.version as | value |}}
                            <ul>
                                {{#strIncludes value '|'}}
                                    {{#strSplitVersion value '|' 0}}
                                        <li>{{value}}</li>
                                    {{/strSplitVersion}}
                                    {{#strSplitVersion value '|' 1}}
                                        <li>{{value}}</li>
                                    {{/strSplitVersion}}
                                {{/strIncludes}}
                            </ul>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>
    </div><!-- ./grid-container -->
</section>


<div class="reveal r-contact-seller" id="contact-seller" data-reveal>
    <h1>Contact Us.</h1>

    <form action="/send-contact-us-message" v-on:submit.prevent="sendEmail" id="send-contact-us-message" method="post">
        <div class="grid-x grid-margin-x">

            <div class="medium-4 cell">
                <label for="title">Title <span class="required">*</span></label>
                <select
                        v-model="title"
                        @keyup.enter="sendEmail"
                        id="title" name="title">
                        <optgroup label="Select Title">
                        <option value="">Select Title</option>
                        <option value="Mr">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                    </optgroup>
                </select>
            </div>

            <div class="medium-8 cell">
                <div class="grid-x grid-padding-x">
                    <div class="small-6 cell">
                        <label for="first_name">First Name <span class="required">*</span></label>
                        <input type="text" name="first_name" class="form-control margin-0" value="{{req.body.first_name}}">
                    </div><!-- ./medium cell -->

                    <div class="small-6 cell">
                        <label for="last_name">Last Name <span class="required">*</span></label>
                        <input type="text" name="last_name" class="form-control margin-0" value="{{req.body.last_name}}">
                    </div><!-- ./medium cell -->
                </div><!-- ./grid-x grid-padding-x -->

                <!--<label for="name">Name <span class="required">*</span></label>-->
                <!--<input-->
                        <!--v-model="name"-->
                        <!--@keyup.enter="sendEmail"-->
                        <!--placeholder="Name" name="name" type="text" value="" id="name">-->
            </div>

            <div class="medium-6 cell">
                <label for="mobile">Mobile <span class="required">*</span></label>
                <input
                        v-model="mobile"
                        @keyup.enter="sendEmail"
                        placeholder="Mobile" name="mobile" type="text" value="{{req.body.mobile}}" id="mobile">
            </div>

            <div class="medium-6 cell">
                <label for="email">Email <span class="required">*</span></label>
                <input
                        v-model="email"
                        @keyup.enter="sendEmail"
                        placeholder="Email" name="email" type="email" value="{{req.body.email}}" id="email">
            </div>

            <div class="medium-12 cell">
                <label for="description">Message <span class="required">*</span></label>
                <textarea
                        v-model="message"
                        @keyup.enter="sendEmail"
                        rows="3" placeholder="Message" name="message" cols="50" id="message"></textarea>
            </div>

            <div class="medium-12 cell">
                <div v-if="showError">
                    <div v-html="formError">

                    </div>
                </div>

                <p v-html="formSuccess">
                <div v-if="showSuccessMsg">

                </div>
                </p>
            </div>

            <div class="medium-12 cell"  :class="isActive">
                <input type="hidden" name="page_route" value="/product/3f9sfWUBtJ_6JLhQCHJU/Ri+Na+Mara+Facial+Oil+30ml">
                <input
                        class="button primary large expanded" type="submit" name="" value="Send Message">
                <img src="/img/icon/spinner-circle.svg" style="display: none;" alt="loading..." width="15">

            </div>

        </div>
    </form>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="review-dialog-confirm" style="display:none" title="Remove review" class="confirm-prompt">
    <p  id="ui-body">Please press Confirm to remove review</p>
</div>

<div id="review-reply-dialog-confirm" style="display:none" title="Remove review reply" class="confirm-prompt">
    <p  id="ui-body">Please press Confirm to remove review reply</p>
</div>

<input type="hidden" name="confirm" id="confirm" value="Cancel">
