
<!-- set layout -->
{{!< layout}}

<section class="display__seatch_header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle">
            <div class="medium-12 cell">
                <span>Results for "<b>{{req.query.q}}</b>"</span>
            </div><!-- ./medium cell -->
        </div><!-- ./grid-x grid-padding-x -->
    </div><!-- ./grid-container -->
</section>

<section class="cont_padding">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle">

            <div class="medium-4 medium-order-2 large-3 cell">

                <div class="medium-auto cell sort__wrapper">

                    <button class="button align-middle expanded" type="button" data-toggle="sort-d">
                        <span>
                            {{req.query.sort}}
                        </span>
                        <span><img class="down-arrow" src="img/icon/down-arrow.svg" alt="down arrow icon"
                             width="10"></span>

                    </button>

                    <ul class="dropdown-pane" id="sort-d" data-dropdown
                         data-hover-delay="0" data-v-offset="14"
                        data-hover="true" data-hover-pane="true">

                            <li><a class="{{#compare req.query.sort  'Relevance'}}active{{/compare}}" href="{{page}}?q={{req.query.q}}&sort=Relevance&categories={{req.query.categories}}&price={{req.query.price}}">Relevance</a></li>
                            <li><a class="{{#compare req.query.sort  'Price: Low to High'}}active{{/compare}}" href="{{page}}?q={{req.query.q}}&sort=Price: Low to High&categories={{req.query.categories}}&price={{req.query.price}}">Price: Low to High</a></li>
                            <li><a class="{{#compare req.query.sort  'Price: High to Low'}}active{{/compare}}" href="{{page}}?q={{req.query.q}}&sort=Price: High to Low&categories={{req.query.categories}}&price={{req.query.price}}">Price: High to Low</a></li>
                            <li><a class="{{#compare req.query.sort  'Avg. Customer Review'}}active{{/compare}}" href="{{page}}?q={{req.query.q}}&sort=Avg. Customer Review&categories={{req.query.categories}}&price={{req.query.price}}">Avg. Customer Review</a></li>

                    </ul>

                </div>

            </div><!-- ./medium cell -->

            <div class="medium-auto medium-order-1 cell">
                <span>Showing <b>1</b> to <b>12</b> of <b>{{searchResults.length}}</b> posts</span>
            </div><!-- ./medium cell -->

        </div><!-- ./grid-x grid-padding-x -->
    </div><!-- ./grid-container -->
</section>

<section id="search-container">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-auto cell">
                <div class="grid-x grid-margin-x r__wrapper">
                    {{#each searchResults.hits.hits}}
                        <div class="small-6 large-4 cell">
                            <a href="/product/{{_source.url_name}}/{{_id}}" title="{{_source.name}}">
                                <img src="{{req.customBaseURI}}img/project/img-origin/{{_source.image_obj.hits.hits.0._source.name}}" alt="{{_source.url_name}}">
                                <div class="cont">
                                    <h2>{{_source.name}}</h2>
                                    <span>{{_source.main_category}}</span>
                                    <span>Standard License <b>${{_source.offer_price}}</b></span>
                                    <span>Get It Implemented <b>${{_source.built_price}}</b></span>
                                    <span>Get It Hosted <b>${{_source.hosting_price}}</b></span>
                                    <span><a href="/product/{{_source.url_name}}/{{_id}}" title="{{_source.name}}">Preview</a></span>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div><!-- ./grid-x grid-padding-x -->
            </div>

            <div class="medium-4 large-3 cell">
                <div class="s__left__wrapper">
                    <h2>Categories</h2>
                    <ul>
                        <li v-for="category in currentCategories" :class="{'show':currentCategories.length>0}" style="display: none;">
                            <label onclick="controller.loadUrl()"><input type="checkbox" v-model="selectedCategories" :value="category.categories"
                            ><span v-html="category.categories"></span></label>
                        </li>
                    </ul>
                </div>

                <div class="p__left__wrapper">
                    <h2>Price</h2>
                    <div class="slider__wrapper">
                        <input type="hidden" class="slider-input range-slider" value="0" />
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ./grid-container -->
</section>
